<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/app/template.xhtml">
        <ui:define name="body">
            <h:form id="UsuariosChangeForm">

                <p:panel id="display" header="Cambiar Contraseña">
                    <p:fieldset>
                    <p:panelGrid  columns="2" columnClasses="column">

                        <h:outputLabel value="Clave Actual" for="oldPass" />
                        <p:password id="oldPass" value="#{usuariosController.oldPass}" title="#{myBundle.EditUsuariosPassActual}" required="true" requiredMessage="Favor ingrese su contraseña Actual"/>

                        <p:outputLabel value="Nueva Clave" for="newPass1" />
                        <p:password id="newPass1" value="#{usuariosController.newPass1}" title="#{myBundle.EditUsuariosNewPass1}" required="true" requiredMessage="Favor ingrese su nueva contraseña"/>

                        <p:outputLabel value="Repita Clave" for="newPass2" />
                        <p:password id="newPass2" value="#{usuariosController.newPass2}" title="#{myBundle.EditUsuariosNewPass1}" required="true" requiredMessage="Favor ingrese de nuevo su contraseña nueva"/>

                    </p:panelGrid>
                    </p:fieldset>
                    <p:commandButton actionListener="#{usuariosController.updatePass}" value="#{myBundle.Save}" 
                                     update=":growl" oncomplete="myFunction()"/>
          
                </p:panel>

            </h:form>

        </ui:define>

    </ui:composition>
</html>
