<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsuariosCreateDlg" widgetVar="UsuariosCreateDialog" styleClass="modalResponsivo" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateUsuariosTitle}" closeOnEscape="true">

            <h:form id="UsuariosCreateForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column,sui-g-12 ui-md-2,ui-g-12 ui-md-10" layout="grid">

                        <p:outputLabel value="#{myBundle.CreateUsuariosLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{usuariosController.selected.nombre}" title="#{myBundle.CreateUsuariosTitle_nombre}"/>

                        <p:outputLabel value="#{myBundle.CreateUsuariosLabel_nombreUsuario}" for="nombreUsuario" />
                        <p:inputText id="nombreUsuario" value="#{usuariosController.selected.nombreUsuario}" title="#{myBundle.CreateUsuariosTitle_nombreUsuario}"/>

                        <p:outputLabel value="#{myBundle.CreateUsuariosLabel_passwd}" for="passwd" />
                        <p:password id="passwd" value="#{usuariosController.selected.passwd}" title="#{myBundle.CreateUsuariosTitle_passwd}"/>

                        <p:outputLabel value="Gimnasio" for="idGimnasio" />
                        <p:selectOneMenu id="idGimnasio" value="#{usuariosController.selected.idGimnasio}" required="true" requiredMessage="#{myBundle.CreateUsuariosRequiredMessage_idGimnasio}" converter="gimnasiosConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{gimnasiosController.items}"
                                           var="idGimnasioItem"
                                           itemValue="#{idGimnasioItem}"
                                           itemLabel="#{idGimnasioItem.razonSocial}"
                                           />
                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.CreateUsuariosLabel_nivel}" for="nivel" />
                        <p:selectOneMenu id="nivel" value="#{usuariosController.selected.nivel}" required="true">
                            <f:selectItem itemLabel="Seleccione Uno" itemValue="" />
                            <f:selectItem itemLabel="Administrador" itemValue="1" />
                            <f:selectItem itemLabel="Propietario" itemValue="2" />
                            <f:selectItem itemLabel="Encargado" itemValue="3" />                            
                        </p:selectOneMenu>

                    </p:panelGrid>
                    <p:commandButton actionListener="#{usuariosController.saveNew}" value="#{myBundle.Save}" update="display,:UsuariosListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('UsuariosCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('UsuariosCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
