<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsuariosViewDlg" widgetVar="UsuariosViewDialog" styleClass="modalResponsivo" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewUsuariosTitle}" closeOnEscape="true">

            <h:form id="UsuariosViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column,sui-g-12 ui-md-2,ui-g-12 ui-md-10" rendered="#{usuariosController.selected != null}">

                        <h:outputText value="#{myBundle.ViewUsuariosLabel_idUsuario}"/>
                        <h:outputText value="#{usuariosController.selected.idUsuario}" title="#{myBundle.ViewUsuariosTitle_idUsuario}"/>

                        <h:outputText value="#{myBundle.ViewUsuariosLabel_nombreUsuario}"/>
                        <h:outputText value="#{usuariosController.selected.nombreUsuario}" title="#{myBundle.ViewUsuariosTitle_nombreUsuario}"/>

                        <h:outputText value="#{myBundle.ViewUsuariosLabel_nombre}"/>
                        <h:outputText value="#{usuariosController.selected.nombre}" title="#{myBundle.ViewUsuariosTitle_nombre}"/>

                        <h:outputText value="Gimnasio"/>
                        <h:outputText value="#{usuariosController.selected.idGimnasio.razonSocial}" title="Gimnasio"/>

                        <h:outputText value="#{myBundle.ViewUsuariosLabel_estado}"/>
                        <h:outputText value="#{usuariosController.evalEstado(usuariosController.selected.estado)}" title="#{myBundle.ViewUsuariosTitle_estado}"/>

                        <h:outputText value="#{myBundle.ViewUsuariosLabel_fechaAcceso}"/>
                        <h:outputText value="#{usuariosController.selected.fechaAcceso}" title="#{myBundle.ViewUsuariosTitle_fechaAcceso}">
                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
                        </h:outputText>
                        
                        <h:outputText value="#{myBundle.ViewUsuariosLabel_nivel}"/>
                        <h:outputText value="#{usuariosController.evalNivel(usuariosController.selected.nivel)}" title="#{myBundle.ViewUsuariosTitle_nivel}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" oncomplete="PF('UsuariosViewDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
