<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
     xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <h:form id="menuForm">
            <p:menubar>
                <p:menuitem value="#{myBundle.Home}" outcome="/index" icon="ui-icon-home"/>
                <p:submenu icon="fa fa-list" label="#{myBundle.Maintenance}">
                    <p:menuitem icon="fa fa-id-card-o" value="#{myBundle.EstudiantesHeading}..." outcome="/app/estudiantes/index"/>
                    <p:menuitem icon="fa fa-building-o" value="#{myBundle.GimnasiosHeading}..." outcome="/app/gimnasios/index" rendered="#{loginBean.tieneRol()}"/>
                    <p:menuitem icon="fa fa-cubes" value="#{myBundle.ProductoHeading}..." outcome="/app/producto/index" />
                    <p:menuitem icon="fa fa-credit-card-alt" value="#{myBundle.VentasHeading}..." outcome="/app/ventas/index" />
                    <p:menuitem icon="fa fa-users" value="#{myBundle.UsuariosHeading}..." outcome="/app/usuarios/index" rendered="#{loginBean.tieneRol()}"/>
                </p:submenu>
                <p:submenu icon="fa fa-file-text-o" label="Reportes">
                    <p:menuitem icon="fa fa-calendar-check-o" value="Cuotas por Vencer" outcome="/app/estudiantes/cuotas_list.xhtml"/>
                </p:submenu>
                <p:submenu icon="fa fa-user-o" label="Mi Cuenta">
                    <p:menuitem icon="fa fa-key" value="Cambiar Contraseña" outcome="/app/usuarios/changePass" />
                </p:submenu>
                <p:menuitem icon="fa fa-power-off" value="Cerrar Sesión"  ajax="false" action="#{loginBean.logout()}" />
            </p:menubar>
        </h:form>
    </ui:composition>

</html>