<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <title><ui:insert name="title">Gym Control</ui:insert></title>
        <h:outputStylesheet library="css" name="pfcrud.css"/>
        <h:outputScript library="scripts" name="pfcrud.js"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no,height=device-height"/>
        <f:metadata>
            <ui:insert name="metadataF">
            </ui:insert>
        </f:metadata>
        <link rel="icon" type="image/png" href="#{request.contextPath}/resources/imagenes/logo-pin.png" />
        <link rel="stylesheet" href="#{request.contextPath}/resources/font-awesome/css/font-awesome.min.css"></link>
        <script>
            PrimeFaces.locales['es'] = {
                closeText: 'Cerrar',
                prevText: 'Anterior',
                nextText: 'Siguiente',
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
                dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                weekHeader: 'Semana',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: '',
                timeOnlyTitle: 'Sólo hora',
                timeText: 'Tiempo',
                hourText: 'Hora',
                minuteText: 'Minuto',
                secondText: 'Segundo',
                currentText: 'Fecha actual',
                ampm: false,
                month: 'Mes',
                week: 'Semana',
                day: 'Día',
                allDayText: 'Todo el día'
            };
        </script>
        <style type="text/css">
            /** Demo **/
            .ui-grid-row .ui-grid-col-2,
            .ui-grid-row .ui-grid-col-10 {
                padding: 0.5em 0;
            }

            .ui-outputlabel {
                font-weight: bold;
            }

            .ui-orderlist .ui-orderlist-list {
                height: auto;
            }

            .ui-orderlist .ui-grid-row .ui-grid-col-2, 
            .ui-orderlist .ui-grid-row .ui-grid-col-10 {
                padding: 0;
            }
        </style>
    </h:head>

    <h:body>

        <p:growl id="growl" life="8000"/>

        <p:layout fullPage="true">
            <p:layoutUnit position="north">
                <div align="center">
                    <a href="#" target="_blank" style="text-decoration:none">
                        <p:graphicImage value="/resources/imagenes/logo-texto.png" height="80"/>   
                    </a>
                </div>
                <h:panelGrid columns="4" style="position: absolute;top: 1px;right: 6px">
                    <p:outputLabel value="Bienvenido "/>
                    <p:outputLabel style="font-weight: bold" value="#{loginBean.nombreUser}"/>

                </h:panelGrid>
                <ui:include src="appmenu.xhtml"/>
            </p:layoutUnit>

            <p:layoutUnit position="south" size="60">
                <ui:insert name="footer"/>
            </p:layoutUnit>

            <p:layoutUnit position="center">
                <ui:insert name="body"/>
            </p:layoutUnit>

        </p:layout>

    </h:body>
    <script>
        function myFunction() {
            document.location.href = '/ControlGym/index.xhtml?faces-redirect=true';
        }
        function start() {
            PF('statusDialog').show();
        }

        function stop() {
            PF('statusDialog').hide();
        }
    </script>
</html>
