.ui-widget {
    font-size: 12px !important;
}
.contenedorCenter{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f3e5;
    margin:0px;
    padding: 0px;
}
.contenedor{
    /*background-color: white;*/
    background-color: #f5f3e5;
    align-content: center;
    box-shadow: 2px 2px 40px #666;
    padding: 40px;
    border-radius: 30px;
}
.formularioLabel{
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px;
}
.formularioInput{
    font-size: 15px;
}
.formularioLabelDato{
    color: #999;
    font-size: 15px;
}
.formularioLabelTitulo{
    font-size: 55px;
}
.redesSociales{
    position: absolute;
    right: 12px;
    bottom: 12px;
    box-shadow: 2px 2px 50px #888888;
    border-radius: 100%;
}

