.ui-widget {
    font-size: 12px !important;
}
.ui-layout-north {
    z-index:20 !important;
    overflow:visible !important;;
}
.ui-layout-north .ui-layout-unit-content {
    overflow:visible !important;
}
.ui-widget-header {
    text-align: center;
    text-transform: uppercase;
}
.ui-datatable .ui-datatable-footer .footer-section {
    text-align: left;
}
.ui-dialog {
    width: 80% !important;
}
.column {
    font-weight: bold;
    background-color: menu;
}
@media screen and (max-width: 768px ) {
  .modalResponsivo { width: 90% !important;} 
}

@media screen and (min-width: 1024px ) {
  .modalResponsivo { width: 30% !important; }
}