/* 
    Created on : 04-sep-2018, 16:20:47
    Author     : Norio
*/
.imagenDocumento{
    /*background-color: red;*/
    height: 77vh;
    width: 60vw;
    overflow:auto;
}
.columnaTipoDocumento{
    width: 100px;
}
.maxWidth{
    width: 100%;
}
.dialogoView{
    width:90vw;
    height:90vh;
}
