<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EstudiantesCreateDlg" widgetVar="EstudiantesCreateDialog" modal="true" resizable="false" styleClass="modalResponsivo" appendTo="@(body)" header="#{myBundle.CreateEstudiantesTitle}" closeOnEscape="true">

            <h:form id="EstudiantesCreateForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column,sui-g-12 ui-md-2,ui-g-12 ui-md-10" layout="grid">

                        <p:outputLabel value="#{myBundle.CreateEstudiantesLabel_nombreApellido}" for="nombreApellido" />
                        <p:inputText id="nombreApellido" value="#{estudiantesController.selected.nombreApellido}" title="#{myBundle.CreateEstudiantesTitle_nombreApellido}"/>

                        <p:outputLabel value="#{myBundle.CreateEstudiantesLabel_direccion}" for="direccion" />
                        <p:inputText id="direccion" value="#{estudiantesController.selected.direccion}" title="#{myBundle.CreateEstudiantesTitle_direccion}"/>

                        <p:outputLabel value="#{myBundle.CreateEstudiantesLabel_telefono}" for="telefono" />
                        <p:inputText id="telefono" value="#{estudiantesController.selected.telefono}" title="#{myBundle.CreateEstudiantesTitle_telefono}"/>

                        <p:outputLabel value="#{myBundle.CreateEstudiantesLabel_email}" for="email" />
                        <p:inputText id="email" value="#{estudiantesController.selected.email}" title="#{myBundle.CreateEstudiantesTitle_email}"/>

                        <p:outputLabel value="#{myBundle.CreateEstudiantesLabel_ruc}" for="ruc" />
                        <p:inputText id="ruc" value="#{estudiantesController.selected.ruc}" title="#{myBundle.CreateEstudiantesTitle_ruc}"/>
                        
                        <p:outputLabel value="Gimnasio" for="idGimnasio" rendered="#{loginBean.tieneRol()}"/>                        
                        <p:selectOneMenu id="idGimnasio" value="#{estudiantesController.selected.idGimnasio}" required="true" rendered="#{loginBean.tieneRol()}"
                                         requiredMessage="#{myBundle.CreateUsuariosRequiredMessage_idGimnasio}" converter="gimnasiosConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{gimnasiosController.items}"
                                           var="idGimnasioItem"
                                           itemValue="#{idGimnasioItem}"
                                           itemLabel="#{idGimnasioItem.razonSocial}"
                                           />
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{estudiantesController.saveNew}" value="#{myBundle.Save}" update="display,:EstudiantesListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('EstudiantesCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('EstudiantesCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
