<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="CuotasListForm">
        <div class="ui-fluid">
            <p:panel header="Cuotas por Vencer" styleClass="ui-panelgrid-blank ui-fluid">
                <p:contextMenu for="datalist">  
                    <p:menuitem id="readMenuItem" icon="ui-icon-search" value="#{myBundle.View}" onclick="document.getElementById('CuotasListForm:viewButton').click();"/>
                </p:contextMenu>
                <p:dataTable id="datalist"
                             value="#{estudiantesController.porVencerList}"
                             rowKey="#{item.idEstudiante}"
                             var="item"
                             paginator="true"
                             rows="10"
                             rowsPerPageTemplate="10,20,30,40,50"
                             selectionMode="single"
                             selection="#{estudiantesController.selected}">

                    <p:ajax event="rowSelect"   update=":CuotasListForm:viewButton"/>
                    <p:ajax event="rowUnselect" update=":CuotasListForm:viewButton"/>
                    <p:ajax event="rowDblselect" onsuccess="document.getElementById('CuotasListForm:viewButton').click();"/>

                    <p:column sortBy="#{item.idGimnasio.razonSocial}" filterBy="#{item.idGimnasio.razonSocial}" rendered="#{loginBean.tieneRol()}" priority="2">
                        <f:facet name="header">
                            <h:outputText value="Gimnasio"/>
                        </f:facet>
                        <h:outputText value="#{item.idGimnasio.razonSocial}"/>
                    </p:column>

                    <p:column sortBy="#{item.nombreApellido}" filterBy="#{item.nombreApellido}">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListEstudiantesTitle_nombreApellido}"/>
                        </f:facet>
                        <h:outputText value="#{item.nombreApellido}"/>
                    </p:column>

                    <p:column sortBy="#{item.direccion}" filterBy="#{item.direccion}" priority="5">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListEstudiantesTitle_direccion}"/>
                        </f:facet>
                        <h:outputText value="#{item.direccion}"/>
                    </p:column>

                    <p:column sortBy="#{item.telefono}" filterBy="#{item.telefono}" priority="6">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListEstudiantesTitle_telefono}"/>
                        </f:facet>
                        <h:outputText value="#{item.telefono}"/>
                    </p:column>

                    <p:column sortBy="#{item.email}" filterBy="#{item.email}" priority="6">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListEstudiantesTitle_email}"/>
                        </f:facet>
                        <h:outputText value="#{item.email}"/>
                    </p:column>

                    <p:column sortBy="#{item.estado}" filterBy="#{item.estado}" priority="4">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListEstudiantesTitle_estado}"/>
                        </f:facet>
                        <h:outputText value="#{gimnasiosController.evalEstado(item.estado)}"/>
                    </p:column>

                    <p:column sortBy="#{item.fechaProximoPago}" filterBy="#{item.fechaProximoPago}" priority="3">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListEstudiantesTitle_fechaProximoPago}"/>
                        </f:facet>
                        <h:outputText value="#{item.fechaProximoPago}">
                            <f:convertDateTime pattern="dd/MM/yyyy" />
                        </h:outputText>
                    </p:column>
                </p:dataTable>
                <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":EstudiantesViewForm" oncomplete="PF('EstudiantesViewDialog').show()" disabled="#{empty estudiantesController.selected}"/>

            </p:panel>
        </div>
    </h:form>

</ui:composition>
