<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="EstudiantesEditDlg" widgetVar="EstudiantesEditDialog" modal="true" resizable="false" styleClass="modalResponsivo" appendTo="@(body)" header="#{myBundle.EditEstudiantesTitle}" closeOnEscape="true">

            <h:form id="EstudiantesEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column,sui-g-12 ui-md-2,ui-g-12 ui-md-10" layout="grid" rendered="#{estudiantesController.selected != null}">

                        <p:outputLabel value="#{myBundle.EditEstudiantesLabel_nombreApellido}" for="nombreApellido" />
                        <p:inputText id="nombreApellido" value="#{estudiantesController.selected.nombreApellido}" title="#{myBundle.EditEstudiantesTitle_nombreApellido}"/>

                        <p:outputLabel value="#{myBundle.EditEstudiantesLabel_direccion}" for="direccion" />
                        <p:inputText id="direccion" value="#{estudiantesController.selected.direccion}" title="#{myBundle.EditEstudiantesTitle_direccion}"/>

                        <p:outputLabel value="#{myBundle.EditEstudiantesLabel_telefono}" for="telefono" />
                        <p:inputText id="telefono" value="#{estudiantesController.selected.telefono}" title="#{myBundle.EditEstudiantesTitle_telefono}"/>

                        <p:outputLabel value="#{myBundle.EditEstudiantesLabel_email}" for="email" />
                        <p:inputText id="email" value="#{estudiantesController.selected.email}" title="#{myBundle.EditEstudiantesTitle_email}"/>

                        <p:outputLabel value="#{myBundle.EditEstudiantesLabel_ruc}" for="ruc" />
                        <p:inputText id="ruc" value="#{estudiantesController.selected.ruc}" title="#{myBundle.EditEstudiantesTitle_ruc}" size="20" maxlength="20"/>

                        <p:outputLabel value="Activo" for="estado" />
                        <p:selectBooleanCheckbox id="estado" value="#{estudiantesController.activo}" title="#{myBundle.EditEstudianteTitle_estado}"/>

                        <p:outputLabel value="#{myBundle.ViewEstudiantesLabel_fechaProximoPago}" for="fechaUltimoPago" />
                        <p:calendar id="fechaUltimoPago" pattern="dd/MM/yyyy" value="#{estudiantesController.selected.fechaProximoPago}" title="#{myBundle.ViewEstudiantesTitle_fechaProximoPago}"  showOn="button"/>

                    </p:panelGrid>
                    <p:commandButton actionListener="#{estudiantesController.save}" value="#{myBundle.Save}" update="display,:EstudiantesListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('EstudiantesEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('EstudiantesEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
