<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="EstudiantesListForm">
        <div class="ui-fluid">
            <p:panel header="#{myBundle.ListEstudiantesTitle}" styleClass="ui-panelgrid-blank ui-fluid">
                <p:contextMenu for="datalist">  
                    <p:menuitem id="createMenuItem" icon="ui-icon-plus" value="#{myBundle.Create}" onclick="document.getElementById('EstudiantesListForm:createButton').click();"/>
                    <p:menuitem id="readMenuItem" icon="ui-icon-search" value="#{myBundle.View}" onclick="document.getElementById('EstudiantesListForm:viewButton').click();"/>
                    <p:menuitem id="updateMenuItem" icon="ui-icon-pencil" value="#{myBundle.Edit}" onclick="document.getElementById('EstudiantesListForm:editButton').click();"/>
                    <p:menuitem id="deleteMenuItem" icon="ui-icon-trash" value="#{myBundle.Delete}" onclick="document.getElementById('EstudiantesListForm:deleteButton').click();" rendered="#{loginBean.tieneRol()}"/>
                </p:contextMenu>
                <p:dataTable id="datalist"
                             value="#{estudiantesController.estudiantesActivos}"
                             var="item"
                             rowKey="#{item.idEstudiante}"
                             paginator="true"
                             rows="10"
                             rowsPerPageTemplate="10,20,30,40,50"
                             selectionMode="single"
                             selection="#{estudiantesController.selected}">

                    <p:ajax event="rowSelect"   update=":EstudiantesListForm:createButton :EstudiantesListForm:viewButton :EstudiantesListForm:editButton :EstudiantesListForm:deleteButton"/>
                    <p:ajax event="rowUnselect" update=":EstudiantesListForm:createButton :EstudiantesListForm:viewButton :EstudiantesListForm:editButton :EstudiantesListForm:deleteButton"/>
                    <p:ajax event="rowDblselect" onsuccess="document.getElementById('EstudiantesListForm:viewButton').click();"/>

                    <p:column sortBy="#{item.idGimnasio.razonSocial}" filterBy="#{item.idGimnasio.razonSocial}" rendered="#{loginBean.tieneRol()}" priority="2">
                        <f:facet name="header">
                            <h:outputText value="Gimnasio"/>
                        </f:facet>
                        <h:outputText value="#{item.idGimnasio.razonSocial}"/>
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Marcar Asistencia"/>
                        </f:facet>
                        <p:commandButton icon="fa fa-thumbs-up" action="#{estudiantesController.MarcarAsistencia(item)}"
                                         onclick="jQuery(this).addClass('ui-state-disabled')"
                                         disabled="#{estudiantesController.bloquearPresente(item)}"/>
                    </p:column>


                    <p:column sortBy="#{item.nombreApellido}" filterBy="#{item.nombreApellido}">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListEstudiantesTitle_nombreApellido}"/>
                        </f:facet>
                        <h:outputText value="#{item.nombreApellido}"/>
                    </p:column>

                    <p:column sortBy="#{item.direccion}" filterBy="#{item.direccion}" priority="5">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListEstudiantesTitle_direccion}"/>
                        </f:facet>
                        <h:outputText value="#{item.direccion}"/>
                    </p:column>

                    <p:column sortBy="#{item.telefono}" filterBy="#{item.telefono}" priority="6">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListEstudiantesTitle_telefono}"/>
                        </f:facet>
                        <h:outputText value="#{item.telefono}"/>
                    </p:column>

                    <p:column sortBy="#{item.email}" filterBy="#{item.email}" priority="6">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListEstudiantesTitle_email}"/>
                        </f:facet>
                        <h:outputText value="#{item.email}"/>
                    </p:column>

                    <!--
                                        <p:column sortBy="#{item.ruc}" filterBy="#{item.ruc}">
                                            <f:facet name="header">
                                                <h:outputText value="#{myBundle.ListEstudiantesTitle_ruc}"/>
                                            </f:facet>
                                            <h:outputText value="#{item.ruc}"/>
                                        </p:column>
                    -->

                    <p:column sortBy="#{item.estado}" filterBy="#{item.estado}" priority="4">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListEstudiantesTitle_estado}"/>
                        </f:facet>
                        <h:outputText value="#{gimnasiosController.evalEstado(item.estado)}"/>
                    </p:column>

                    <p:column sortBy="#{item.fechaProximoPago}" filterBy="#{item.fechaProximoPago}" priority="3">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListEstudiantesTitle_fechaProximoPago}"/>
                        </f:facet>
                        <h:outputText value="#{item.fechaProximoPago}">
                            <f:convertDateTime pattern="dd/MM/yyyy" />
                        </h:outputText>
                    </p:column>
                </p:dataTable>

                <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{estudiantesController.prepareCreate}" update=":EstudiantesCreateForm" oncomplete="PF('EstudiantesCreateDialog').show()"/>
                <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":EstudiantesViewForm" oncomplete="PF('EstudiantesViewDialog').show()" disabled="#{empty estudiantesController.selected}"/>
                <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" actionListener="#{estudiantesController.prepareEdit}" update=":EstudiantesEditForm" oncomplete="PF('EstudiantesEditDialog').show()" disabled="#{empty estudiantesController.selected}"/>
                <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{estudiantesController.delete}" update=":growl,datalist" disabled="#{empty estudiantesController.selected}" rendered="#{loginBean.tieneRol()}">
                    <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
                </p:commandButton>

            </p:panel>
            <ui:include src="/app/confirmation.xhtml"/>
        </div>
    </h:form>

</ui:composition>