<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EstudiantesViewDlg" widgetVar="EstudiantesViewDialog" modal="true" resizable="false" styleClass="modalResponsivo" appendTo="@(body)" header="#{myBundle.ViewEstudiantesTitle}" closeOnEscape="true">

            <h:form id="EstudiantesViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column,sui-g-12 ui-md-2,ui-g-12 ui-md-10" rendered="#{estudiantesController.selected != null}">

                        <h:outputText value="#{myBundle.ViewEstudiantesLabel_nombreApellido}"/>
                        <h:outputText value="#{estudiantesController.selected.nombreApellido}" title="#{myBundle.ViewEstudiantesTitle_nombreApellido}"/>

                        <h:outputText value="#{myBundle.ViewEstudiantesLabel_direccion}"/>
                        <h:outputText value="#{estudiantesController.selected.direccion}" title="#{myBundle.ViewEstudiantesTitle_direccion}"/>

                        <h:outputText value="#{myBundle.ViewEstudiantesLabel_telefono}"/>
                        <h:outputText value="#{estudiantesController.selected.telefono}" title="#{myBundle.ViewEstudiantesTitle_telefono}"/>

                        <h:outputText value="#{myBundle.ViewEstudiantesLabel_email}"/>
                        <h:outputText value="#{estudiantesController.selected.email}" title="#{myBundle.ViewEstudiantesTitle_email}"/>

                        <h:outputText value="#{myBundle.ViewEstudiantesLabel_ruc}"/>
                        <h:outputText value="#{estudiantesController.selected.ruc}" title="#{myBundle.ViewEstudiantesTitle_ruc}"/>

                        <h:outputText value="Gimnasio:" rendered="#{loginBean.tieneRol()}"/>
                        <h:outputText value="#{estudiantesController.selected.idGimnasio.razonSocial}" title="Gimnasio" rendered="#{loginBean.tieneRol()}"/>

                        <h:outputText value="#{myBundle.ViewEstudiantesLabel_estado}"/>
                        <h:outputText value="#{gimnasiosController.evalEstado(estudiantesController.selected.estado)}" title="#{myBundle.ViewEstudiantesTitle_estado}"/>

                        <h:outputText value="#{myBundle.ViewEstudiantesLabel_fechaProximoPago}"/>
                        <h:outputText value="#{estudiantesController.selected.fechaProximoPago}" title="#{myBundle.ViewEstudiantesTitle_fechaProximoPago}">
                            <f:convertDateTime pattern="dd/MM/yyyy" />
                        </h:outputText>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" oncomplete="PF('EstudiantesViewDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
