<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProductoCreateDlg" widgetVar="ProductoCreateDialog" modal="true" resizable="false" styleClass="modalResponsivo" appendTo="@(body)" header="#{myBundle.CreateProductoTitle}" closeOnEscape="true">

            <h:form id="ProductoCreateForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column,sui-g-12 ui-md-2,ui-g-12 ui-md-10" layout="grid">

                        <p:outputLabel value="Gimnasio" for="idGimnasio" rendered="#{loginBean.tieneRol()}"/>                        
                        <p:selectOneMenu id="idGimnasio" value="#{productoController.selected.idGimnasio}" required="true" rendered="#{loginBean.tieneRol()}"
                                         requiredMessage="#{myBundle.CreateUsuariosRequiredMessage_idGimnasio}" converter="gimnasiosConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{gimnasiosController.items}"
                                           var="idGimnasioItem"
                                           itemValue="#{idGimnasioItem}"
                                           itemLabel="#{idGimnasioItem.razonSocial}"
                                           />
                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.CreateProductoLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{productoController.selected.nombre}" title="#{myBundle.CreateProductoTitle_nombre}"/>

                        <p:outputLabel value="#{myBundle.CreateProductoLabel_descripcion}" for="descripcion" />
                        <p:inputTextarea id="descripcion" value="#{productoController.selected.descripcion}" title="#{myBundle.CreateProductoTitle_descripcion}"/>

                        <p:outputLabel value="Tipo de Producto:" for="tipo" />
                        <p:selectOneMenu id="tipo" value="#{productoController.selected.tipoProducto}" required="true">
                            <f:selectItem itemLabel="Seleccione Uno" itemValue="" />
                            <f:selectItem itemLabel="Mercaderia" itemValue="1" />
                            <f:selectItem itemLabel="Cuota" itemValue="2" />
                            <f:selectItem itemLabel="Promo 30%" itemValue="3" />      
                            <!--f:selectItem itemLabel="Promo 2x1" itemValue="4" rendered="false"/--> 
                            <f:selectItem itemLabel="Promo 3x2" itemValue="5" /> 
                            <f:selectItem itemLabel="Promo Mes Gratis" itemValue="6" /> 
                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.CreateProductoLabel_precioUnitario}" for="precioUnitario" />
                        <p:inputText id="precioUnitario" value="#{productoController.selected.precioUnitario}" title="#{myBundle.CreateProductoTitle_precioUnitario}"/>

                        <p:outputLabel value="#{myBundle.CreateProductoLabel_cantidad}" for="cantidad" />
                        <p:inputText id="cantidad" value="#{productoController.selected.cantidad}" title="#{myBundle.CreateProductoTitle_cantidad}"/>

                        <p:outputLabel value="#{myBundle.CreateProductoLabel_minimo}" for="minimo" />
                        <p:inputText id="minimo" value="#{productoController.selected.minimo}" title="#{myBundle.CreateProductoTitle_minimo}"/>

                    </p:panelGrid>
                    <p:commandButton actionListener="#{productoController.saveNew}" value="#{myBundle.Save}" update="display,:ProductoListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('ProductoCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('ProductoCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
