<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="ProductoEditDlg" widgetVar="ProductoEditDialog" modal="true" resizable="false" styleClass="modalResponsivo" appendTo="@(body)" header="#{myBundle.EditProductoTitle}" closeOnEscape="true">

            <h:form id="ProductoEditForm">

                <h:panelGroup id="display" >
                    <p:panelGrid  columns="2" columnClasses="column,sui-g-12 ui-md-2,ui-g-12 ui-md-10" layout="grid" rendered="#{productoController.selected != null}">

                        <p:outputLabel value="#{myBundle.EditProductoLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{productoController.selected.nombre}" title="#{myBundle.EditProductoTitle_nombre}"/>

                        <p:outputLabel value="#{myBundle.EditProductoLabel_descripcion}" for="descripcion" />
                        <p:inputTextarea id="descripcion" value="#{productoController.selected.descripcion}" title="#{myBundle.EditProductoTitle_descripcion}"/>
                        
                        <p:outputLabel value="Tipo de Producto:" for="tipo" />
                        <p:selectOneMenu id="tipo" value="#{productoController.selected.tipoProducto}" required="true">
                            <f:selectItem itemLabel="Seleccione Uno" itemValue="" />
                            <f:selectItem itemLabel="Mercaderia" itemValue="1" />
                            <f:selectItem itemLabel="Cuota" itemValue="2" />
                            <f:selectItem itemLabel="Promo 30%" itemValue="3" />      
                            <!--f:selectItem itemLabel="Promo 2x1" itemValue="4" rendered="false"/--> 
                            <f:selectItem itemLabel="Promo 3x2" itemValue="5" /> 
                            <f:selectItem itemLabel="Promo Mes Gratis" itemValue="6" /> 
                        </p:selectOneMenu>
                        
                        <p:outputLabel value="#{myBundle.EditProductoLabel_precioUnitario}" for="precioUnitario" />
                        <p:inputText id="precioUnitario" value="#{productoController.selected.precioUnitario}" title="#{myBundle.EditProductoTitle_precioUnitario}"/>

                        <p:outputLabel value="#{myBundle.EditProductoLabel_cantidad}" for="cantidad" />
                        <p:inputText id="cantidad" value="#{productoController.selected.cantidad}" title="#{myBundle.EditProductoTitle_cantidad}"/>

                        <p:outputLabel value="#{myBundle.EditProductoLabel_minimo}" for="minimo" />
                        <p:inputText id="minimo" value="#{productoController.selected.minimo}" title="#{myBundle.EditProductoTitle_minimo}"/>

                    </p:panelGrid>
                    <p:commandButton actionListener="#{productoController.save}" value="#{myBundle.Save}" update="display,:ProductoListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('ProductoEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('ProductoEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
