<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="ProductoListForm">
    <div class="ui-fluid">
        <p:panel header="#{myBundle.ListProductoTitle}" styleClass="ui-panelgrid-blank ui-fluid">
            <p:contextMenu for="datalist">  
                <p:menuitem id="createMenuItem" icon="ui-icon-plus" value="#{myBundle.Create}" onclick="document.getElementById('ProductoListForm:createButton').click();"/>
                <p:menuitem id="readMenuItem" icon="ui-icon-search" value="#{myBundle.View}" onclick="document.getElementById('ProductoListForm:viewButton').click();"/>
                <p:menuitem id="updateMenuItem" icon="ui-icon-pencil" value="#{myBundle.Edit}" onclick="document.getElementById('ProductoListForm:editButton').click();"/>
                <p:menuitem id="deleteMenuItem" icon="ui-icon-trash" value="#{myBundle.Delete}" onclick="document.getElementById('ProductoListForm:deleteButton').click();"/>
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{productoController.items}"
                         var="item"
                         rowKey="#{item.idProducto}"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{productoController.selected}">

                <p:ajax event="rowSelect"   update=":ProductoListForm:createButton :ProductoListForm:viewButton :ProductoListForm:editButton :ProductoListForm:deleteButton"/>
                <p:ajax event="rowUnselect" update=":ProductoListForm:createButton :ProductoListForm:viewButton :ProductoListForm:editButton :ProductoListForm:deleteButton"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('ProductoListForm:viewButton').click();"/>

                <p:column sortBy="#{item.idGimnasio.razonSocial}" filterBy="#{item.idGimnasio.razonSocial}" rendered="#{loginBean.tieneRol()}" priority="2">
                    <f:facet name="header">
                        <h:outputText value="Gimnasio"/>
                    </f:facet>
                    <h:outputText value="#{item.idGimnasio.razonSocial}"/>
                </p:column>

                <p:column sortBy="#{item.nombre}" filterBy="#{item.nombre}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListProductoTitle_nombre}"/>
                    </f:facet>
                    <h:outputText value="#{item.nombre}"/>
                </p:column>

                <p:column sortBy="#{productoController.evalTipo(item.tipoProducto)}" 
                          filterBy="#{productoController.evalTipo(item.tipoProducto)}" priority="3">
                    <f:facet name="header">
                        <h:outputText value="Tipo de Producto"/>
                    </f:facet>
                    <h:outputText value="#{productoController.evalTipo(item.tipoProducto)}"/>
                </p:column>

                <p:column sortBy="#{item.precioUnitario}" filterBy="#{item.precioUnitario}" priority="4">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListProductoTitle_precioUnitario}"/>
                    </f:facet>
                    <h:outputText value="#{item.precioUnitario}">
                        <f:convertNumber locale="es_PY"/>
                    </h:outputText>
                </p:column>


                <p:column sortBy="#{item.cantidad}" filterBy="#{item.cantidad}" priority="5">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListProductoTitle_cantidad}"/>
                    </f:facet>
                    <h:outputText value="#{item.cantidad}"/>
                </p:column>


                <p:column sortBy="#{item.minimo}" filterBy="#{item.minimo}" priority="6">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListProductoTitle_minimo}"/>
                    </f:facet>
                    <h:outputText value="#{item.minimo}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{productoController.prepareCreate}" update=":ProductoCreateForm" oncomplete="PF('ProductoCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":ProductoViewForm" oncomplete="PF('ProductoViewDialog').show()" disabled="#{empty productoController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":ProductoEditForm" oncomplete="PF('ProductoEditDialog').show()" disabled="#{empty productoController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{productoController.delete}" update=":growl,datalist" disabled="#{empty productoController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/app/confirmation.xhtml"/>
    </div>
    </h:form>

</ui:composition>