<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProductoViewDlg" widgetVar="ProductoViewDialog" modal="true" resizable="false" styleClass="modalResponsivo" appendTo="@(body)" header="#{myBundle.ViewProductoTitle}" closeOnEscape="true">

            <h:form id="ProductoViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column,sui-g-12 ui-md-2,ui-g-12 ui-md-10" rendered="#{productoController.selected != null}">

                        <h:outputText value="Gimnasio:" rendered="#{loginBean.tieneRol()}"/>
                        <h:outputText value="#{productoController.selected.idGimnasio.razonSocial}" title="Gimnasio" rendered="#{loginBean.tieneRol()}"/>

                        <h:outputText value="#{myBundle.ViewProductoLabel_nombre}"/>
                        <h:outputText value="#{productoController.selected.nombre}" title="#{myBundle.ViewProductoTitle_nombre}"/>

                        <h:outputText value="#{myBundle.ViewProductoLabel_descripcion}"/>
                        <h:outputText value="#{productoController.selected.descripcion}" title="#{myBundle.ViewProductoTitle_descripcion}"/>

                        <h:outputText value="Tipo de Producto:"/>
                        <h:outputText value="#{productoController.evalTipo(productoController.selected.tipoProducto)}" title="Tipo de Producto"/>

                        <h:outputText value="#{myBundle.ViewProductoLabel_precioUnitario}"/>
                        <h:outputText value="#{productoController.selected.precioUnitario}" title="#{myBundle.ViewProductoTitle_precioUnitario}"/>

                        <h:outputText value="#{myBundle.ViewProductoLabel_cantidad}"/>
                        <h:outputText value="#{productoController.selected.cantidad}" title="#{myBundle.ViewProductoTitle_cantidad}"/>

                        <h:outputText value="#{myBundle.ViewProductoLabel_minimo}"/>
                        <h:outputText value="#{productoController.selected.minimo}" title="#{myBundle.ViewProductoTitle_minimo}"/>

                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" oncomplete="PF('ProductoViewDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
