<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="GimnasiosCreateDlg" widgetVar="GimnasiosCreateDialog" modal="true" resizable="false" styleClass="modalResponsivo" appendTo="@(body)" header="#{myBundle.CreateGimnasiosTitle}" closeOnEscape="true">

            <h:form id="GimnasiosCreateForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column,sui-g-12 ui-md-2,ui-g-12 ui-md-10" layout="grid">

                        <p:outputLabel value="#{myBundle.CreateGimnasiosLabel_razonSocial}" for="razonSocial" />
                        <p:inputText id="razonSocial" value="#{gimnasiosController.selected.razonSocial}" title="#{myBundle.CreateGimnasiosTitle_razonSocial}"/>

                        <p:outputLabel value="#{myBundle.CreateGimnasiosLabel_direccion}" for="direccion" />
                        <p:inputText id="direccion" value="#{gimnasiosController.selected.direccion}" title="#{myBundle.CreateGimnasiosTitle_direccion}"/>

                        <p:outputLabel value="#{myBundle.CreateGimnasiosLabel_telefono}" for="telefono" />
                        <p:inputText id="telefono" value="#{gimnasiosController.selected.telefono}" title="#{myBundle.CreateGimnasiosTitle_telefono}"/>

                        <p:outputLabel value="#{myBundle.CreateGimnasiosLabel_email}" for="email" />
                        <p:inputText id="email" value="#{gimnasiosController.selected.email}" title="#{myBundle.CreateGimnasiosTitle_email}"/>

                        <p:outputLabel value="#{myBundle.CreateGimnasiosLabel_ruc}" for="ruc" />
                        <p:inputText id="ruc" value="#{gimnasiosController.selected.ruc}" title="#{myBundle.CreateGimnasiosTitle_ruc}"/>

                    </p:panelGrid>
                    <p:commandButton actionListener="#{gimnasiosController.saveNew}" value="#{myBundle.Save}" update="display,:GimnasiosListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('GimnasiosCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('GimnasiosCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
