<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="GimnasiosEditDlg" widgetVar="GimnasiosEditDialog" modal="true" resizable="false"  styleClass="modalResponsivo" appendTo="@(body)" header="#{myBundle.EditGimnasiosTitle}" closeOnEscape="true">

            <h:form id="GimnasiosEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column,sui-g-12 ui-md-2,ui-g-12 ui-md-10" layout="grid" rendered="#{gimnasiosController.selected != null}">

                        <p:outputLabel value="#{myBundle.EditGimnasiosLabel_razonSocial}" for="razonSocial" />
                        <p:inputText id="razonSocial" value="#{gimnasiosController.selected.razonSocial}" title="#{myBundle.EditGimnasiosTitle_razonSocial}"/>

                        <p:outputLabel value="#{myBundle.EditGimnasiosLabel_direccion}" for="direccion" />
                        <p:inputText id="direccion" value="#{gimnasiosController.selected.direccion}" title="#{myBundle.EditGimnasiosTitle_direccion}"/>

                        <p:outputLabel value="#{myBundle.EditGimnasiosLabel_telefono}" for="telefono" />
                        <p:inputText id="telefono" value="#{gimnasiosController.selected.telefono}" title="#{myBundle.EditGimnasiosTitle_telefono}"/>

                        <p:outputLabel value="#{myBundle.EditGimnasiosLabel_email}" for="email" />
                        <p:inputText id="email" value="#{gimnasiosController.selected.email}" title="#{myBundle.EditGimnasiosTitle_email}"/>

                        <p:outputLabel value="#{myBundle.EditGimnasiosLabel_ruc}" for="ruc" />
                        <p:inputText id="ruc" value="#{gimnasiosController.selected.ruc}" title="#{myBundle.EditGimnasiosTitle_ruc}"/>

                        <p:outputLabel value="#{myBundle.EditGimnasiosLabel_estado}" for="estado" />
                        <p:selectOneMenu id="estado" value="#{gimnasiosController.selected.estado}" title="#{myBundle.EditGimnasiosTitle_estado}">
                            <f:selectItem itemLabel="Seleccione Uno" itemValue="" />
                            <f:selectItem itemLabel="Activo" itemValue="1" />
                            <f:selectItem itemLabel="Inactivo" itemValue="2" />
                            <f:selectItem itemLabel="Suspendido" itemValue="3" />                            
                        </p:selectOneMenu>
                        
                        <!--
                        <p:outputLabel value="#{myBundle.EditGimnasiosLabel_productoList}" for="productoList" />
                        <p:selectManyMenu id="productoList" value="#{gimnasiosController.selected.productoList}"  converter="productoConverter">
                            <f:selectItems value="#{productoController.items}"
                                           var="productoListItem"
                                           itemValue="#{productoListItem}"
                                           itemLabel="#{productoListItem.descripcion.toString()}"
                                           />

                        </p:selectManyMenu>
                        -->
                    </p:panelGrid>
                    <p:commandButton actionListener="#{gimnasiosController.save}" value="#{myBundle.Save}" update="display,:GimnasiosListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('GimnasiosEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('GimnasiosEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
