<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="GimnasiosListForm">
    <div class="ui-fluid">
        <p:panel header="#{myBundle.ListGimnasiosTitle}" styleClass="ui-panelgrid-blank ui-fluid">
            <p:contextMenu for="datalist">  
                <p:menuitem id="createMenuItem" icon="ui-icon-plus" value="#{myBundle.Create}" onclick="document.getElementById('GimnasiosListForm:createButton').click();"/>
                <p:menuitem id="readMenuItem" icon="ui-icon-search" value="#{myBundle.View}" onclick="document.getElementById('GimnasiosListForm:viewButton').click();"/>
                <p:menuitem id="updateMenuItem" icon="ui-icon-pencil" value="#{myBundle.Edit}" onclick="document.getElementById('GimnasiosListForm:editButton').click();"/>
                <p:menuitem id="deleteMenuItem" icon="ui-icon-trash" value="#{myBundle.Delete}" onclick="document.getElementById('GimnasiosListForm:deleteButton').click();"/>
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{gimnasiosController.items}"
                         var="item"
                         rowKey="#{item.idGimnasio}"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{gimnasiosController.selected}">

                <p:ajax event="rowSelect"   update=":GimnasiosListForm:createButton :GimnasiosListForm:viewButton :GimnasiosListForm:editButton :GimnasiosListForm:deleteButton"/>
                <p:ajax event="rowUnselect" update=":GimnasiosListForm:createButton :GimnasiosListForm:viewButton :GimnasiosListForm:editButton :GimnasiosListForm:deleteButton"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('GimnasiosListForm:viewButton').click();"/>

                <p:column sortBy="#{item.razonSocial}" filterBy="#{item.razonSocial}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListGimnasiosTitle_razonSocial}"/>
                    </f:facet>
                    <h:outputText value="#{item.razonSocial}"/>
                </p:column>


                <p:column sortBy="#{item.direccion}" filterBy="#{item.direccion}" priority="3">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListGimnasiosTitle_direccion}"/>
                    </f:facet>
                    <h:outputText value="#{item.direccion}"/>
                </p:column>


                <p:column sortBy="#{item.telefono}" filterBy="#{item.telefono}" priority="4">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListGimnasiosTitle_telefono}"/>
                    </f:facet>
                    <h:outputText value="#{item.telefono}"/>
                </p:column>


                <p:column sortBy="#{item.email}" filterBy="#{item.email}" priority="5">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListGimnasiosTitle_email}"/>
                    </f:facet>
                    <h:outputText value="#{item.email}"/>
                </p:column>


                <p:column sortBy="#{item.ruc}" filterBy="#{item.ruc}" priority="6">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListGimnasiosTitle_ruc}"/>
                    </f:facet>
                    <h:outputText value="#{item.ruc}"/>
                </p:column>

                <p:column sortBy="#{item.estado}" filterBy="#{item.estado}" priority="2">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListGimnasiosTitle_estado}"/>
                    </f:facet>
                    <h:outputText value="#{gimnasiosController.evalEstado(item.estado)}"/>
                </p:column>
            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{gimnasiosController.prepareCreate}" update=":GimnasiosCreateForm" oncomplete="PF('GimnasiosCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":GimnasiosViewForm" oncomplete="PF('GimnasiosViewDialog').show()" disabled="#{empty gimnasiosController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":GimnasiosEditForm" oncomplete="PF('GimnasiosEditDialog').show()" disabled="#{empty gimnasiosController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{gimnasiosController.delete}" update=":growl,datalist" disabled="#{empty gimnasiosController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/app/confirmation.xhtml"/>
    </div>
    </h:form>

</ui:composition>