<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="GimnasiosViewDlg" widgetVar="GimnasiosViewDialog" modal="true" resizable="false" styleClass="modalResponsivo" appendTo="@(body)" header="#{myBundle.ViewGimnasiosTitle}" closeOnEscape="true">

            <h:form id="GimnasiosViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column,sui-g-12 ui-md-2,ui-g-12 ui-md-10" rendered="#{gimnasiosController.selected != null}">

                        <h:outputText value="#{myBundle.ViewGimnasiosLabel_idGimnasio}"/>
                        <h:outputText value="#{gimnasiosController.selected.idGimnasio}" title="#{myBundle.ViewGimnasiosTitle_idGimnasio}"/>

                        <h:outputText value="#{myBundle.ViewGimnasiosLabel_razonSocial}"/>
                        <h:outputText value="#{gimnasiosController.selected.razonSocial}" title="#{myBundle.ViewGimnasiosTitle_razonSocial}"/>

                        <h:outputText value="#{myBundle.ViewGimnasiosLabel_direccion}"/>
                        <h:outputText value="#{gimnasiosController.selected.direccion}" title="#{myBundle.ViewGimnasiosTitle_direccion}"/>

                        <h:outputText value="#{myBundle.ViewGimnasiosLabel_telefono}"/>
                        <h:outputText value="#{gimnasiosController.selected.telefono}" title="#{myBundle.ViewGimnasiosTitle_telefono}"/>

                        <h:outputText value="#{myBundle.ViewGimnasiosLabel_email}"/>
                        <h:outputText value="#{gimnasiosController.selected.email}" title="#{myBundle.ViewGimnasiosTitle_email}"/>

                        <h:outputText value="#{myBundle.ViewGimnasiosLabel_ruc}"/>
                        <h:outputText value="#{gimnasiosController.selected.ruc}" title="#{myBundle.ViewGimnasiosTitle_ruc}"/>

                        <h:outputText value="#{myBundle.ViewGimnasiosLabel_estado}"/>
                        <h:outputText value="#{gimnasiosController.selected.estado}" title="#{myBundle.ViewGimnasiosTitle_estado}"/>

                        <h:outputText value="#{myBundle.ViewGimnasiosLabel_productoList}"/>
                        <h:selectManyMenu converter="productoConverter">
                            <f:selectItems value="#{gimnasiosController.selected.productoList}"
                                           var="productoListItem"
                                           itemValue="#{productoListItem}"
                                           itemLabel="#{productoListItem.descripcion.toString()}"
                                           />

                        </h:selectManyMenu>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" oncomplete="PF('GimnasiosViewDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
