<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="VentasCreateDlg" widgetVar="VentasCreateDialog" modal="true" resizable="false" 
                  appendTo="@(body)" header="#{myBundle.CreateVentasTitle}" closeOnEscape="false">

            <h:form id="VentasCreateForm" style="height: 500px; overflow: auto ! important">
                <h:panelGroup id="display">
                    <p:panel id="idFieldSet1">
                        <p:panelGrid columns="4" columnClasses="column" layout="grid">

                            <p:outputLabel value="#{myBundle.CreateVentasLabel_idEstudiante}" for="idEstudiante" />
                            <p:selectOneMenu id="idEstudiante" value="#{ventasController.selected.idEstudiante}"  
                                             effect="fade" filter="true"
                                             converter="estudiantesConverter">
                                <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                                <f:selectItems value="#{estudiantesController.estudiantesActivos}"
                                               var="idEstudianteItem"
                                               itemValue="#{idEstudianteItem}"
                                               itemLabel="#{idEstudianteItem.nombreApellido}"
                                               />
                            </p:selectOneMenu>
                            <p:outputLabel value="Importe Total" for="total" />
                            <h:panelGroup>
                                <p:inputText style="text-align: right;background: #F7EF88 !important; font-size: 14px !important; font-weight: bold; color: black" disabled="true" id="total" value="#{ventasController.selected.total}" >
                                    <f:convertNumber locale="es_ES" />
                                </p:inputText>
                            </h:panelGroup>
                        </p:panelGrid>
                    </p:panel>
                </h:panelGroup>
                <br/>
                <p:fieldset>
                    <p:panelGrid columns="4" columnClasses="column" layout="grid">
                        <p:outputLabel value="Nombre Producto:" for="nombreProducto" />
                        <h:panelGroup>
                            <p:inputText id="nombreProducto" value="#{ventasController.detalle.idProducto.nombre}" disabled="true">
                            </p:inputText>
                            <p:commandButton value="Buscar" icon="ui-icon-search" process="@this" update=":ProductosListForm" oncomplete="PF('BuscarProductoDialog').show()" />
                        </h:panelGroup>

                        <p:outputLabel value="Descripción Producto:" for="descDProducto" />
                        <p:inputText disabled="true" id="descDProducto" value="#{ventasController.detalle.idProducto.descripcion}"/>

                        <p:outputLabel value="Cantidad:" for="cantidadDet" />
                        <p:inputText style="text-align: right"  required="true" id="cantidadDet" value="#{ventasController.detalle.cantidad}"/>

                        <p:outputLabel value="Precio Unitario:" for="precioDet" />
                        <p:inputText style="text-align: right"  id="precioDet" value="#{ventasController.detalle.idProducto.precioUnitario}" disabled="true">
                            <f:convertNumber locale="es_ES" />
                        </p:inputText>
                        <h:outputText value=""/>
                        <p:commandButton value="Agregar" process="@this, cantidadDet, precioDet,:VentasCreateForm:idFieldSet1" icon="ui-icon-plus" actionListener="#{ventasController.addItemDetalles()}"
                                         update="detallesTableId, total, nombreProducto, descDProducto, precioDet, cantidadDet,:growl" />

                    </p:panelGrid>

                    <p:dataTable rowKey="#{detalle.idFacturaDet}"  emptyMessage="No hay Productos" scrollable="true" id="detallesTableId" var="detalle" value="#{ventasController.selected.ventaDetList}">

                        <p:column headerText="Producto">
                            <h:outputText value="#{detalle.idProducto.nombre}" />
                        </p:column>

                        <p:column headerText="Cantidad" priority="2">
                            <h:outputText value="#{detalle.cantidad}"  style="float: right" />
                        </p:column>

                        <p:column headerText="Precio Unitario" priority="3">
                            <h:outputText value="#{detalle.idProducto.precioUnitario}" style="float: right">
                                <f:convertNumber locale="es_ES" />
                            </h:outputText>
                        </p:column>

                        <p:column headerText="Valor de Venta">
                            <h:outputText value="#{detalle.valorVenta}" style="float: right">
                                <f:convertNumber locale="es_ES" />
                            </h:outputText>
                        </p:column>

                        <p:column style="width:28px;">
                            <p:commandButton  process="@this" icon="ui-icon-close" title="Eliminar detalle" actionListener="#{ventasController.removeItemDetalles(detalle)}" 
                                              update="detallesTableId, :VentasCreateForm:total">
                            </p:commandButton>
                        </p:column>

                    </p:dataTable>

                </p:fieldset>
                <p:commandButton actionListener="#{ventasController.saveNew}" value="#{myBundle.Save}" update="display,:VentasListForm:datalist,:growl" style="align-items: flex-end"
                                 oncomplete="handleSubmit(xhr,status,args,PF('VentasCreateDialog'));">
                    <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                </p:commandButton>

                <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('VentasCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
            </h:form>
        </p:dialog>

        <p:dialog width="45%" id="BuscarProductoDlg" widgetVar="BuscarProductoDialog" modal="true" resizable="false" appendTo="@(body)" header="Buscar Producto" closable="true">
            <h:form id="ProductosListForm">
                <p:dataTable id="datalistProducto"
                             value="#{productoController.items}"
                             lazy="true"
                             filterEvent="enter"
                             var="item"
                             paginator="true"
                             rows="7"
                             rowKey="#{item.idProducto}"
                             selectionMode="single"
                             selection="#{ventasController.producto}"
                             emptyMessage="#{myBundle.TablaVacia}"
                             sortOrder="ASCENDING"
                             sortBy="#{item.nombre}">

                    <p:ajax event="rowDblselect" onsuccess="PF('BuscarProductoDialog').hide(); document.getElementById('VentasCreateForm:cantidadDet').value=''; document.getElementById('VentasCreateForm:cantidadDet').focus();" listener="#{ventasController.onProductoSelect()}" update=":VentasCreateForm:nombreProducto, :VentasCreateForm:descDProducto, :VentasCreateForm:precioDet" />

                    <p:column sortBy="#{item.idGimnasio.razonSocial}" filterBy="#{item.idGimnasio.razonSocial}" rendered="#{loginBean.tieneRol()}" priority="2">
                        <f:facet name="header">
                            <h:outputText value="Gimnasio"/>
                        </f:facet>
                        <h:outputText value="#{item.idGimnasio.razonSocial}"/>
                    </p:column>

                    <p:column sortBy="#{item.nombre}" filterBy="#{item.nombre}">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListProductoTitle_nombre}"/>
                        </f:facet>
                        <h:outputText value="#{item.nombre}"/>
                    </p:column>

                    <p:column sortBy="#{productoController.evalTipo(item.tipoProducto)}" 
                              filterBy="#{productoController.evalTipo(item.tipoProducto)}" priority="3">
                        <f:facet name="header">
                            <h:outputText value="Tipo de Producto"/>
                        </f:facet>
                        <h:outputText value="#{productoController.evalTipo(item.tipoProducto)}"/>
                    </p:column>

                    <p:column sortBy="#{item.precioUnitario}" filterBy="#{item.precioUnitario}">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListProductoTitle_precioUnitario}"/>
                        </f:facet>
                        <h:outputText value="#{item.precioUnitario}">
                            <f:convertNumber locale="es_PY"/>
                        </h:outputText>
                    </p:column>


                    <p:column sortBy="#{item.cantidad}" filterBy="#{item.cantidad}" priority="4">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListProductoTitle_cantidad}"/>
                        </f:facet>
                        <h:outputText value="#{item.cantidad}"/>
                    </p:column>


                    <p:column sortBy="#{item.minimo}" filterBy="#{item.minimo}" priority="5">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListProductoTitle_minimo}"/>
                        </f:facet>
                        <h:outputText value="#{item.minimo}"/>
                    </p:column>
                </p:dataTable>

            </h:form>

        </p:dialog>
    </ui:composition>

</html>
