<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="VentasListForm">
        <div class="ui-fluid">
            <p:panel header="#{myBundle.ListVentasTitle}" styleClass="ui-panelgrid-blank ui-fluid">
                <p:contextMenu for="datalist">  
                    <p:menuitem id="createMenuItem" icon="ui-icon-plus" value="#{myBundle.Create}" onclick="document.getElementById('VentasListForm:createButton').click();"/>
                    <p:menuitem id="readMenuItem" icon="ui-icon-search" value="#{myBundle.View}" onclick="document.getElementById('VentasListForm:viewButton').click();"/>
                    <p:menuitem id="deleteMenuItem" icon="ui-icon-trash" value="#{myBundle.Delete}" onclick="document.getElementById('VentasListForm:deleteButton').click();" rendered="#{loginBean.tieneRol()}"/>
                </p:contextMenu>
                <p:dataTable id="datalist"
                             value="#{ventasController.items}"
                             var="item"
                             rowKey="#{item.idVenta}"
                             paginator="true"
                             rows="10"
                             rowsPerPageTemplate="10,20,30,40,50"
                             selectionMode="single"
                             selection="#{ventasController.selected}">

                    <p:ajax event="rowSelect"   update=":VentasListForm:createButton :VentasListForm:viewButton :VentasListForm:deleteButton"/>
                    <p:ajax event="rowUnselect" update=":VentasListForm:createButton :VentasListForm:viewButton :VentasListForm:deleteButton"/>
                    <p:ajax event="rowDblselect" onsuccess="document.getElementById('VentasListForm:viewButton').click();"/>

                    <p:column sortBy="#{item.idVenta}" filterBy="#{item.idVenta}" priority="5">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListVentasTitle_idVenta}"/>
                        </f:facet>
                        <h:outputText value="#{item.idVenta}"/>
                    </p:column>


                    <p:column sortBy="#{item.fechaEmision}" filterBy="#{item.fechaEmision}" priority="2">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListVentasTitle_fechaVenta}"/>
                        </f:facet>
                        <h:outputText value="#{item.fechaEmision}">
                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
                        </h:outputText>
                    </p:column>


                    <p:column sortBy="#{item.estado}" filterBy="#{item.estado}" priority="3">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListVentasTitle_estadoVenta}"/>
                        </f:facet>
                        <h:outputText value="#{ventasController.evalEstado(item.estado)}"/>
                    </p:column>

                    <p:column sortBy="#{item.total}" filterBy="#{item.total}">
                        <f:facet name="header">
                            <h:outputText value="Total Venta"/>
                        </f:facet>
                        <h:outputText value="#{item.total}" style="float: right">
                            <f:convertNumber locale="es_ES" />
                        </h:outputText>
                    </p:column>

                    <p:column sortBy="#{item.idEstudiante.idEstudiante}" filterBy="#{item.idEstudiante.idEstudiante}">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListVentasTitle_idEstudiante}"/>
                        </f:facet>
                        <h:outputText value="#{item.idEstudiante.nombreApellido}"/>
                    </p:column>


                    <p:column sortBy="#{item.idUsuario.idUsuario}" filterBy="#{item.idUsuario.idUsuario}" priority="4">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListVentasTitle_creadoPor}"/>
                        </f:facet>
                        <h:outputText value="#{item.idUsuario.nombre}"/>
                    </p:column>


                </p:dataTable>

                <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{ventasController.prepareCreate}" update=":VentasCreateForm" oncomplete="PF('VentasCreateDialog').show()"/>
                <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":VentasViewForm" oncomplete="PF('VentasViewDialog').show()" disabled="#{empty ventasController.selected}"/>
                <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{ventasController.delete}" update=":growl,datalist" disabled="#{empty ventasController.selected}" rendered="#{loginBean.tieneRol()}">
                    <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
                </p:commandButton>

            </p:panel>
            <ui:include src="/app/confirmation.xhtml"/>
        </div>
    </h:form>

</ui:composition>