<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="VentasViewDlg" widgetVar="VentasViewDialog" styleClass="modalResponsivo" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewVentasTitle}" closeOnEscape="true">

            <h:form id="VentasViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column,sui-g-12 ui-md-2,ui-g-12 ui-md-10" rendered="#{ventasController.selected != null}">

                        <h:outputText value="#{myBundle.ViewVentasLabel_idVenta}"/>
                        <h:outputText value="#{ventasController.selected.idVenta}" title="#{myBundle.ViewVentasTitle_idVenta}"/>

                        <h:outputText value="#{myBundle.ViewVentasLabel_fechaVenta}"/>
                        <h:outputText value="#{ventasController.selected.fechaEmision}" title="#{myBundle.ViewVentasTitle_fechaVenta}">
                            <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" locale="es_PY" />
                        </h:outputText>
                        
                        <h:outputText value="Total Venta:"/>
                        <h:outputText value="#{ventasController.selected.total}" title="Total Venta">
                            <f:convertNumber locale="es_ES" />
                        </h:outputText>

                        <h:outputText value="#{myBundle.ViewVentasLabel_estadoVenta}"/>
                        <h:outputText value="#{ventasController.evalEstado(ventasController.selected.estado)}" title="#{myBundle.ViewVentasTitle_estadoVenta}"/>

                        <h:outputText value="#{myBundle.ViewVentasLabel_idEstudiante}"/>
                        <h:outputText value="#{ventasController.selected.idEstudiante.nombreApellido}"/>

                        <h:outputText value="#{myBundle.ViewVentasLabel_creadoPor}"/>
                        <h:outputText value="#{ventasController.selected.idUsuario.nombre}"/>
                    </p:panelGrid>
                    <br/>
                    <p:fieldset>
                        <p:dataTable rowKey="#{detalle.idVentaDet}"  emptyMessage="#{myBundle.TablaVacia}" scrollable="true" scrollHeight="250" id="detallesTableId" var="detalle" value="#{ventasController.selected.ventaDetList}">

                            <p:column headerText="Producto">
                                <h:outputText value="#{detalle.idProducto.nombre}" />
                            </p:column>

                            <p:column headerText="Cantidad">
                                <h:outputText value="#{detalle.cantidad}"  style="float: right"/>
                            </p:column>

                            <p:column headerText="Precio Unitario">
                                <h:outputText value="#{detalle.valorVenta}" style="float: right">
                                    <f:convertNumber locale="es_ES" />
                                </h:outputText>
                            </p:column>
                        </p:dataTable>

                    </p:fieldset>

                    <p:commandButton value="#{myBundle.Close}" oncomplete="PF('VentasViewDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
