<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3c.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title><ui:insert name="title">Aviso de sesión</ui:insert></title>
        <link rel="icon" type="image/png" href="#{request.contextPath}/resources/imagenes/bit-logo.png" />
        <link rel="stylesheet" href="#{request.contextPath}/resources/font-awesome/css/font-awesome.min.css"></link>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no,height=device-height"/>
    </h:head> 
    <h:body class="contenedorCenter">
        <p:growl id="mensajes" showDetail="true" life="8000" />

        <h:form>
            <div>
                Aviso de sesión expirada!!!...
                <br/>
                
                <a href="#{request.contextPath}/login.xhtml" style="text-decoration:none">
                    Ir a Login
                </a>
            </div>
        </h:form>
    </h:body>
</html>