<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3c.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title><ui:insert name="title">Iniciar Sesión - #{myBundle.AppName}</ui:insert></title>
        <h:outputScript library="scripts" name="pfcrud.js"/>
        <h:outputStylesheet library="css" name="pfcrud_login.css"/>
        <link rel="icon" type="image/png" href="#{request.contextPath}/resources/imagenes/logo-pin.png" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"/>        
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no,height=device-height"/>
        <!--<script src='https://www.google.com/recaptcha/api.js'></script>-->
        <style type="text/css">
            body {  
                background-size: cover;
                background-image:url('#{request.contextPath}/resources/imagenes/fondo_login.jpg');
            }
        </style>
        <f:metadata>
            <f:viewAction action="#{loginBean.isLoggedInForwardHome()}" />
        </f:metadata>
    </h:head> 
    <h:body class="contenedorCenter">
        <p:growl id="mensajes" showDetail="true" life="8000" />

        <h:form>
                <div class="ui-fluid">
            <div class="contenedor" align="center">
                
                    <p:graphicImage value="/resources/imagenes/logo-texto.png" height="130px"/>
                
                <br/>
                <h:outputLabel value="Acceso al Sistema" class="formularioLabelTitulo"/>
                <br/><br/>
                <!--<h:outputLabel value="ACCESO AL SISTEMA" class="formularioLabelDato"/>-->
                <h:panelGrid columns="2" class="formulario">
                    <h:outputLabel for="username" value="Usuario:" class="formularioLabel"/>
                    <p:inputText value="#{loginBean.user}" id="username" placeholder="Nombre de usuario" class="formularioInput"
                                 required="true" label="username" size="25"/>

                    <h:outputLabel for="password" value="Clave:" class="formularioLabel"/>
                    <p:password value="#{loginBean.pass}" id="password" size="25"
                                required="true" placeholder="Contraseña de usuario" class="formularioInput"
                                label="password" />
                </h:panelGrid>
                <!--div class="g-recaptcha" data-sitekey="6LdVHi0UAAAAACvZGXIMgi6hVC1yIofzpv8V09W-"></div-->
                <p:commandButton style="margin-top: 10px" id="loginButton" value="Iniciar Sesión" icon="fa fa-sign-in"
                                 actionListener="#{loginBean.login}" update=":mensajes"/>
            </div>
            <div class="redesSociales">
                <a href="https://www.facebook.com/gimnasio.bodymaxpy/" target="_blank" style="text-decoration:none">
                    <p:graphicImage value="/resources/imagenes/facebook.png" height="45px" style="border-radius: 100%"/>
                </a>
            </div>
                </div>
        </h:form>
    </h:body>
</html>